* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.back {
    position: relative;
    width: 1440px;
    height: 6000px;

    /* Neutral White/30 */

    background: #f6f6f6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 100px;
    gap: 10px;

    position: absolute;
    width: 1432px;
    height: 127px;
    left: 0px;
    top: 4px;

    background: #ebebeb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 100px;
    gap: 10px;

    position: absolute;
    width: 1440px;
    height: 127px;
    left: 0px;
    top: 0px;

    /* Blue/10 */

    background: #dacefd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 133px;

    width: 1240px;
    height: 41px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16.39px;

    width: 220.7px;
    height: 41px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.menuframe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 500px;
    height: 30px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    color: #0e0e0e;
}

.menuframe ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuframe ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;

    width: 150px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.menuframe ul li :hover {
    color: #ad9ed3;
    transition: 0.4s ease-in-out;
}

.menuframe ul li a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    color: #0e0e0e;
}

.sig {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 227px;
    height: 40px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.head.navbar.menu a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height, or 183% */

    color: #0e0e0e;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 4px;

    width: 101px;
    height: 40px;

    /* Blue/60 */

    border: 2px solid #24067a;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login :hover {
    color: #c2aefb;
    transition: 0.4s ease-in-out;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 4px;

    width: 118px;
    height: 40px;

    /* Blue/40 */

    background: #180451;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.signup :hover {
    color: #c2aefb;
    transition: 0.4s ease-in-out;
}

.login a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    /* Blue/60 */

    color: #24067a;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.signup a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    /* Neutral White/70 */

    color: #ffffff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 0px;
    gap: 82px;

    position: absolute;
    width: 1300px;
    height: 613px;
    left: 100px;
    top: 150px;
}

.subframe1 {
    position: absolute;
    width: 610px;
    height: 388px;
    left: 0px;
    top: 112.5px;
}

.subframe1 h2 {
    position: absolute;
    width: 610px;
    height: 192px;
    left: 0px;
    top: 112.5px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 64px;
    /* or 133% */

    /* Blue/100 */

    color: #3b09cb;
}

.subframe1 p {
    position: absolute;
    width: 610px;
    height: 72px;
    left: 0px;
    top: 400px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    /* or 150% */

    /* Neutral Grey/80 */

    color: #535353;
}

.gs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 4px;

    position: absolute;
    width: 162px;
    height: 40px;
    left: 0px;
    top: 550px;

    /* Blue/60 */

    background: #24067a;
    border-radius: 8px;
}

.gs a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    /* Neutral White/70 */

    color: #ffffff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.gs :hover {
    color: #c2aefb;
    transition: 0.4s ease-in-out;
}

.fricon {
    width: 600px;
    height: 400px;
    position: relative;
    left: 630px;
    top: 60px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame2 {
    position: absolute;
    width: 1440px;
    height: 873px;
    left: 0px;
    top: 895px;

    background: rgba(218, 206, 253, 0.18);
}

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 500px;
    height: 64px;
    left: 523px;
    top: 65px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.rectangle {
    height: 8px;
    width: 69px;
    left: 324px;
    top: 28px;
    border-radius: 10px;
    display: flex;
}

.subframe2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 393px;
    height: 64px;
    left: 553px;
    top: 65px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */

    /* Blue/100 */

    color: #3b09cb;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.subframe3 {
    position: absolute;
    width: 700px;
    height: 24px;
    left: 411px;
    top: 153px;
    align-content: center;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Text Color /80 */

    color: #0b0b0b;
}

.fricon2 {
    position: absolute;
    width: 355px;
    height: 294px;
    left: 671px;
    top: 245px;

    background: #969696;
}
.fricon3 {
    position: absolute;
    width: 355px;
    height: 294px;
    left: 798px;
    top: 374px;

    background: #fbfbfb;
}
.fricon4 {
    position: absolute;
    width: 355px;
    height: 294px;
    left: 985px;
    top: 515px;

    background: #979797;
}

.check1 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 116px;
    top: 287px;
}

.check2 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 116px;
    top: 395px;
}
.check3 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 116px;
    top: 503px;
}
.check4 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 116px;
    top: 611px;
}
.check5 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 116px;
    top: 719px;
}

.highlight {
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-top: 307px;

    width: 500px;
    height: 300px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.highlight ul {
    left: 228px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 83px;
    top: 305px;

    width: 500px;
    height: 300px;
}

.highlight ul li {
    margin-left: 228px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 500px;
    height: 300px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #0e0e0e;
}

.frame3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    position: absolute;
    width: 1241px;
    height: 1180px;
    left: 100px;
    top: 1900px;
}

.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 96px 0px 0px;
    gap: 20px;

    width: 600px;
    height: 88px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rec {
    width: 69px;
    height: 8px;

    background: #818181;
    border-radius: 10px;
    display: flex;
    gap: 15px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subframe4 {
    width: 360px;
    height: 64px;
    left: 18px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 64px;
    position: relative;
    /* identical to box height, or 178% */

    color: #0e0e0e;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.servicesgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
    margin-top: 0px;
    position: relative;

    width: 1241px;
    height: 1068px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    position: absolute;
    width: 1070px;
    height: 917px;
    left: 185px;
    top: 3211px;
}
.subframe5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: relative;

    width: 400px;
    height: 88px;
    left: 45px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */

    color: #0e0e0e;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    left: 248.5px;
    position: absolute;

    width: 450px;
    height: 88px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rect {
    height: 8px;
    width: 69px;
    left: 0px;
    border-radius: 10px;
    display: flex;
}

.video {
    height: 781px;
    width: 1070px;
    left: 0px;
    top: 136px;
    border-radius: 8px;

    position: absolute;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    gap: 48px;

    position: absolute;
    width: 1440px;
    height: 350px;
    left: 0px;
    top: 4261px;

    background: #cfcfcf;
}

.choose {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 0px;
    gap: 16px;

    width: auto;
    height: 88px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.recta {
    height: 8px;
    width: 69px;
    left: 0px;
    top: 40px;
    border-radius: 10px;
    display: flex;
}

.frame5 h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 0px;
    gap: 16px;
    position: relative;
    width: 300px;
    height: 88px;
    left: 40px;
    text-align: center;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */

    color: #0e0e0e;
}

.subframe6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 96px 0px 0px;
    gap: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */

    color: #0e0e0e;

    width: 444px;
    height: 88px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.why {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 84px;
    position: absolute;
    height: 166px;
    width: 1031px;
    left: 204.5px;
    top: 160px;
    border-radius: 0px;
    padding: 8px, 16px, 8px, 16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    position: absolute;
    width: 1048px;
    height: 1266px;
    left: 178px;
    top: 4750px;
}
.subframe7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 96px 0px 0px;
    gap: 16px;

    width: 760px;
    height: 88px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    /* identical to box height, or 56px */

    /* Blue/60 */

    color: #24067a;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame7 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1440px;
    height: 456px;
    right: 0px;
    top: 500px;

    /* Neutral White/10 */

    background: #ffffff;
    border: 0.3px solid #393939;
}

.testimonial {
    position: absolute;
    width: 97px;
    height: 36px;
    left: 1161px;
    top: 318px;
}

.subframe8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    position: absolute;
    width: 1240px;
    height: 168px;
    left: 100px;
    top: 102px;
}

.subframe8 h3 {
    width: 989px;
    height: 56px;

    /* Desktop Text styles/Desktop Heading 2 bold */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    /* identical to box height, or 56px */

    /* Blue/60 */

    color: #24067a;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.subframe8 p {
    width: 1072px;
    height: 64px;

    /* Desktop Text styles/Desktop Heading 5 */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    /* or 32px */

    text-align: center;

    /* Text Color /80 */

    color: #0b0b0b;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame8 {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 100px;
    gap: 48px;

    position: absolute;
    width: 1440px;
    height: 364px;
    left: 0px;
    top: 1100px;

    background: rgba(36, 5, 122, 0.2);
}

.frame8 h2 {
    width: 527px;
    height: 56px;

    /* Desktop Text styles/Desktop Heading 2 bold */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    top: 0px;
    /* identical to box height, or 56px */

    color: #0e0e0e;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.srch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 35px 32px;
    gap: 4px;

    position: absolute;
    width: 900px;
    height: 60px;
    left: 202.88px;
    top: 204px;

    /* Neutral White/60 */

    background: #fafafa;
    border-radius: 8px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    gap: 4px;

    position: absolute;
    width: 135px;
    height: 73.97px;
    left: 1102.12px;
    top: 204px;
    background: #180451;
    border-radius: 8px;

    /* Blue/40 */
}

.btn a {
    background: #180451;
    border-radius: 8px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    /* identical to box height, or 24px */

    color: #d0c5da;
}

.btn :hover {
    color: #c2aefb;
    transition: 0.4s ease-in-out;
}

footer {
    position: absolute;
    width: 1440px;
    height: 300px;
    left: 0px;
    top: 1450px;

    /* Blue/30 */

    background: #c2aefb;
}

.frame9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 162px;

    position: absolute;
    width: 1240px;
    height: 156px;
    left: 100px;
    top: 85px;
}

.subframe10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 200px;
    height: 148px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subframe10 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    /* or 150% */

    text-align: center;

    /* Blue/40 */

    color: #180451;
}
.subframe11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 126px;
    height: 124px;
}

.subframe11 h3 {
    width: 126px;
    height: 28px;

    /* H6 */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    /* Blue/40 */

    color: #180451;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subframe11 ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: 0px;
}

.subframe11 ul :hover {
    color: #8f7fbd;
    transition: 0.4s ease-in-out;
}

.subframe11 ul li a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Blue/40 */

    color: #180451;
}

.subframe12 {
    height: 130px;
    width: 160px;
    left: 434px;
    top: 0px;
    border-radius: 0px;
    gap: 13px;
}

.subframe12 h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    /* Blue/40 */

    color: #180451;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subframe12 ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 167px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.subframe1 ul :hover {
    color: #8f7fbd;
    transition: 0.4s ease-in-out;
}

.subframe12 ul li a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Blue/40 */

    color: #180451;
    transition: 0.4s ease-in-out;
}

.subframe13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;

    width: 139px;
    height: 160px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.subframe13 h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    /* Blue/40 */

    color: #180451;
}

.subframe13p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Blue/40 */

    color: #180451;
}

.subframe13 .call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    gap: 4px;

    width: 139px;
    height: 40px;

    /* Blue/40 */

    background: #180451;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.call a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    color: #e5e5e5;
}

.call :hover {
    color: #c2aefb;
    transition: 0.4s ease-in-out;
}
