/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */
* {
  margin: 0;
  padding: 0;
}
@media (max-width){
    
}

body {
  
  background-color: #ffffff;
  
}
.container-main {
  display: flex;
}
.first-container {
  position: absolute;
  width: 602px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #939292;
}
.first-container img {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 102px;
  top: 52px;
}
.welcome {
  position: absolute;
  width: 746px;
  height: 52px;
  left: 629px;
  top: 92px;
}
.welcome h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 62px;
  color: #393939;
}
.signup {
  position: absolute;
  width: 368px;
  height: 72px;
  left: 818px;
  top: 144px;
  line-height: 62px;
}
.signup p {
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #393939;
  width: max-content;
}
.signup a {
  text-decoration: none;
  color: #393939;
}

.email {
  position: absolute;
  width: 520px;
  height: 132px;
  left: 742px;
  top: 280px;
}
.password {
  position: absolute;
  width: 520px;
  height: 132px;
  left: 742px;
  top: 420px;
}

.email label {
  width: 161px;
  height: 62px;
  left: 742px;
  top: 380px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 62px;
}
.password label {
  width: 111px;
  height: 62px;
  left: 742px;
  top: 520px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 62px;
}
.email input,
.password input {
  width: 520px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #606060;
  background-color: #cfcfcf;
}
.btn {
  position: absolute;
  width: 614px;
  left: 795px;
  top: 700px;
}
.btn input{
  border-radius: 8px;
  padding: 16px, 128px;
  width: 414px;
  height: 58px;
  background: #3e3e3e;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  border: none;
}

.Ts-and-Cs {
  position: absolute;
  width: 666px;
  height: 80px;
  left: 668px;
  top: 832px;
}
.Ts-and-Cs p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 40px;
  color: #393939;
  text-align: center;
  color: #393939;
}

/* media query */
@media (max-width: 1024px) {
  main {
    background-color: orange;
  }
  .container-main {
    display: flex;
  }
  .first-container {
    position: absolute;
    width: 320px;
    height: 1194px;
    left: 0px;
    top: 0px;
  }
  .first-container img {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 134px;
    top: 52px;
  }
  .welcome {
    position: absolute;
    width: 388px;
    height: 62px;
    left: 369px;
    top: 96px;
  }
  .welcome h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 62px;
    color: #393939;
  }
  .signup {
    position: absolute;
    width: 290px;
    height: 62px;
    left: 418px;
    top: 148px;
  }
  .signup p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 62px;
    color: #393939;
  }
  .signup a {
    text-decoration: none;
    color: #393939;
  }
  
  .email {
    position: absolute;
    width: 365px;
    height: 96px;
    left: 381px;
    top: 410px;
  }
  .password {
    position: absolute;
    width: 365px;
    height: 96px;
    left: 381px;
    top: 514px;
  }
  
  .email label {
    width: 107px;
    height: 51px;
    left: 381px;
    top: 410px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #000000;
  }
  .password label {
    width: 74px;
    height: 51px;
    left: 381px;
    top: 514px;
    font-family: 'Poppins', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #000000;
  }
  
  .email input {
    width: 365px;
    height: 52px;
    left: 381px;
    top: 454px;

    background: #cfcfcf;
    border: 0.819231px solid #606060;
    border-radius: 8px;
  }
  .password input {
    width: 365px;
    height: 52px;
    left: 381px;
    top: 558px;

    background: #cfcfcf;
    border: 0.819231px solid #606060;
    border-radius: 8px;
  }
  .btn {
    position: absolute;
    width: 269px;
    height: 52px;
    left: 427px;
    top: 746px;
  }
  .btn input {
    background: #3e3e3e;
    border-radius: 5.3913px;
    justify-content: center;
    align-items: center;
    padding: 10.7826px 86.2609px;
    gap: 5.39px;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16.1739px;
    line-height: 41px;
    border: none;
  }

  .Ts-and-Cs {
    position: absolute;
    width: 402px;
    height: 42px;
    left: 353px;
    top: 982px;
  }
  .Ts-and-Cs p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #393939;
  }
  html,
  main {
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .container-main {
    display: flex;
    flex-direction: row;
    flex: 1;
    display: block;
  }

  .first-container {
    width: 100%;
    background-color: #ffffff;
  }
  .first-container img {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 164px;
    top: 55px;

    background: #d8d7d7;
    border-radius: 40px;
  }
  .welcome {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 24px;
    top: 117px;
    place-content: center;
  }
  .welcome h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 62px;
    color: #393939;
    text-align: center;
   
  }
  .signup {
    position: absolute;
    width: 214px;
    height: 62px;
    left: 80px;
    top: 147px;
    place-content: center;
    
  }
  .signup p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #393939;
  }
   
  .email {
    position: absolute;
    width: 294.34px;
    height: 77.42px;
    left: 42.58px;
    top: 316.87px;
  }
  .password {
    position: absolute;
    width: 294.34px;
    height: 77.42px;
    left: 42.58px;
    top: 400.73px;
  }
 
  .email label {
    width: 87px;
    height: 41px;
    left: 42.58px;
    top: 316.87px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.9025px;
    line-height: 41px;
    
  }
  .password label {
    width: 60px;
    height: 41px;
    left: 42.58px;
    top: 400.73px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.9025px;
    line-height: 41px;
  }
  
  .email input {
    width: 294.34px;
    height: 41.93px;
    left: 42.58px;
    top: 352.35px;
    background: #cfcfcf;
    border: 0.660633px solid #606060;
    border-radius: 6.45125px;
  }
  .password input {
    width: 294.34px;
    height: 41.93px;
    left: 42.58px;
    top: 436.21px;
    background: #cfcfcf;
    border: 0.660633px solid #606060;
    border-radius: 6.45125px;
  }
  .btn  {
    position: absolute;
    width: 216.92px;
    height: 41.93px;
    left: 79px;
    right: 79px;
    top: 510.15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 8.69517px 69.5613px;
    border-radius: 4.34758px;
  }
  .btn input {
    background: #3e3e3e;
    align-items: center;
    gap: 4.35px;
    color: #ffffff;
    width: 73px;
    height: 34px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13.0428px;
    line-height: 33px;
    margin: auto;
  }
  .btn input[type = submit]{
    text-align: center;
  }
  .Ts-and-Cs {
    position: absolute;
    width: 324px;
    height: 34px;
    left: 25px;
    top: 648.08px;
  }
  .Ts-and-Cs p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11.2897px;
    line-height: 17px;
    text-align: center;
    color: #393939;
  }
}