@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}
.maincontainer {
    display: flex;
}
.left {
    position: absolute;
    width: 605px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(.jpg), #693fe3;
}
.left .img2 {
    display: none;
}
.heading {
    position: absolute;
    width: 607px;
    height: 52px;
    left: 698px;
    top: 100px;
}
.heading h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #24067a;
}
.paragraph {
    position: absolute;
    width: 333px;
    height: 32px;
    left: 817px;
    top: 160px;
}
.paragraph p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #24067a;
}
.paragraph a {
    text-decoration: none;
    color: #24067a;
}
.fullname {
    position: absolute;
    width: 114px;
    height: 32px;
    left: 730px;
    top: 240px;
}
.email {
    position: absolute;
    width: 162px;
    height: 32px;
    left: 730px;
    top: 400px;
}
.password {
    position: absolute;
    width: 111px;
    height: 32px;
    left: 730px;
    top: 560px;
}

.fullname label {
    width: 114px;
    height: 32px;
    left: 730px;
    top: 240px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    color: #24067a;
}
.email label {
    width: 162px;
    height: 32px;
    left: 730px;
    top: 400px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    color: #24067a;
}
.password label {
    width: 111px;
    height: 32px;
    left: 730px;
    top: 560px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    color: #24067a;
}
.fullname input,
.email input,
.password input {
    box-sizing: border-box;
    width: 505px;
    height: 72px;
    left: 730px;
    top: 440px;
    background: #ffffff;
    border: 1px solid #24067a;
    border-radius: 8px;
}
i {
  position: absolute;
  margin-left: 458px;
  top:60px;
  color: #24067a;
  cursor: pointer;
}

.btn {
    position: absolute;
    width: 505px;
    height: 76px;
    left: 730px;
    top: 720px;
    align-items: center;
    padding: 18px, 32px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    gap: 4px;
    justify-content: center;
}
.btn input {
    border-radius: 8px;
    background: #24067a;
    width: 414px;
    height: 68px;
    color: #e5e5e5;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

.termsAndCondition {
    position: absolute;
    width: 666px;
    height: 80px;
    left: 668px;
    top: 832px;
}
.termsAndCondition p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color: #24067a;
}
footer{
    display: none;
}

/* media query */

@media (max-width: 375px) {
    .maincontainer {
        display: flex;
        flex-direction: row;
        flex: 1;
        display: block;
    }
    .body{
      overflow-x: hidden;
    }

    .left {
       display: none;
    }
   
   .img2 {
        all: revert;
        position: absolute;
        left: 46.13%;
        right: 46.58%;
        top: 9.61%;
        bottom: 87.03%;
    }
    .heading {
        position: absolute;
        width: 323px;
        height: 62px;
        left: 24px;
        top: 117px;
    }
    .heading h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 62px;
        color: #0b0b0b;
    }
    .paragraph {
        position: absolute;
        width: 228px;
        height: 62px;
        left: 80px;
        top: 147px;
    }
    .paragraph p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 62px;
        color: #0b0b0b;
        display: flex;
        flex-direction: row;
    }
    .paragraph a {
        text-decoration: none;
    }
    .fullname {
        position: absolute;
        width: 64px;
        height: 41px;
        left: 42.58px;
        top: 233px;
    }
    .email {
        position: absolute;
        width: 91px;
        height: 41px;
        left: 42.58px;
        top: 316.87px;
    }
    .password {
        position: absolute;
        width: 63px;
        height: 41px;
        left: 42.58px;
        top: 400.73px;
    }
    .fullname label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12.9025px;
        line-height: 41px;
        color: #0b0b0b;
    }
    .email label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12.9025px;
        line-height: 41px;
        color: #0b0b0b;
    }
    .password label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12.9025px;
        line-height: 41px;
        color: #0b0b0b;
    }
    .fullname input {
        box-sizing: border-box;
        width: 294.34px;
        height: 41.93px;
        left: 42.58px;
        top: 268.48px;
        background: #ffffff;
        border: 0.5px solid #24067a;
        border-radius: 4px;
    }
    .email input {
        box-sizing: border-box;
        width: 294.34px;
        height: 41.93px;
        left: 42.58px;
        top: 268.48px;
        background: #ffffff;
        border: 0.5px solid #24067a;
        border-radius: 4px;
    }
    .password input {
        box-sizing: border-box;
        width: 294.34px;
        height: 41.93px;
        left: 42.58px;
        top: 436.21px;
        background: #ffffff;
        border: 0.5px solid #24067a;
        border-radius: 4px;
    }
    i {
      position: absolute;
      margin-left: 258px;
      top:55px;
      color: #24067a;
      cursor: pointer;
    }
    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4.35px;
        position: absolute;
        width: 216.92px;
        height: 41.93px;
        left: 79px;
        top: 510.15px;
        border-radius: 4.34758px;
    }
    .btn input {
        background: #24067a;
        padding: 8.69517px, 69.5613px;
        width: 215px;
        height: 34px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 13.0428px;
        color: #ffffff;
        border: none;
    }
    .termsAndCondition {
        position: absolute;
        width: 309px;
        height: 34px;
        left: 33px;
        top: 648.08px;
    }
    .termsAndCondition p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
        color: #0b0b0b;
    }
    footer{  
  display: flex;
position: absolute;
width: 375px;
height: 72px;
left: 0px;
top: 740px;
background: #A385F9;
    }
.mobilenav{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 45px;
position: absolute;
width: 295px;
height: 59px;
left: 40px;
top: 7px;
}
.home{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;
width: 40px;
height: 59px;
}
.home a{
  width: 34px;
height: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #0B0B0B;
text-decoration: none;
}
.files{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;
width: 40px;
height: 59px;
}
.files a{
  text-decoration: none;
  width: 26px;
height: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #0B0B0B;
}
.new{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;
width: 40px;
height: 59px;
}
.new a{
  width: 26px;
height: 15px;
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #0B0B0B;
}
.profile{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;
width: 40px;
height: 59px;
}
.profile a{
  width: 37px;
height: 15px;
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #0B0B0B;
}

}
