@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #393939;

    scroll-behavior: smooth;
}

/* Reusable */
.text-center {
    text-align: center;
}

.grid {
    display: grid;
    column-gap: 2rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.mb-3 {
    margin-bottom: 3.6rem;
}

.mt-2 {
    margin-top: 2.4rem;
}

/* Preloader */
.preloader {
    padding: 0 4.8rem;
    font-size: 4.4rem;
    color: #777;

    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

/* Modal */
.modal {
    background-color: #fff;
    border-radius: 1rem;
    font-size: 1.6rem;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
    z-index: 9999;

    pointer-events: none;
    opacity: 0;

    transition: all 0.4s;

    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
}

.modal--files-select {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 50%;
}

.modal-open {
    opacity: 1;
    pointer-events: all;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 2.4rem;
}

.modal-header {
    position: relative;

    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.modal-header span {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;

    position: absolute;
    right: 2.4rem;
    top: 50%;
    transform: translateY(-50%);
}

.modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.modal-body,
.modal-footer {
    text-align: center;
}

.modal-body {
    max-height: 50vh;
    overflow-y: scroll;
}

.modal-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.modal-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
.modal-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
.modal-body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
.modal-body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.modal-label {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.modal-input {
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid #180451;
    margin-bottom: 2.4rem;
    outline: none;
    font-size: 1.6rem;
    padding: 1.2rem;
    font-family: inherit;
}

.modal-btn {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border: none;
    background-color: #2f07a2;
    color: #fff;
    font-weight: 600;
    font-family: inherit;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;

    margin-right: 1.2rem;
}

.modal-btn:last-child {
    margin-right: 0;
}

/* Auth Pages */
.auth-server-response {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.auth-container {
    display: grid;
    grid-template-columns: 30fr 70fr;
}

.auth-left {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.auth-left--login {
    background-image: url("../img/login.jpeg");
}

.auth-left--signup {
    background-image: url("../img/signup.jpeg");
}

.auth-left img {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 52px;
    top: 52px;
}

.auth-right {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    overflow-y: scroll;
}

.auth-content {
    width: 70%;
    padding: 4.8rem 0;
}

.auth-logo {
    text-align: center;
    padding: 4.8rem;

    display: none;
}

.auth-logo img {
    max-width: 100%;
}

.auth-title {
    font-size: 2.6rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1.2rem;
}

.auth-subtitle {
    font-size: 1.6rem;
    text-align: center;
}

.auth-subtitle a:link,
.auth-subtitle a:visited {
    text-decoration: none;
    color: #24067a;
    font-weight: 600;
}

.auth-form {
    display: block;
    width: 70%;
    margin: 2.4rem auto 5.2rem;
}

.auth-label {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.auth-input {
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid #24067a;
    margin-bottom: 2.4rem;
    outline: none;
    font-size: 1.6rem;
    padding: 1.2rem;
    font-family: inherit;
}

.auth-btn {
    border-radius: 0.8rem;
    padding: 1.2rem 0;
    text-transform: uppercase;
    width: 100%;
    background-color: #24067a;
    color: #ffff;
    font-size: 1.6rem;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.auth-tandcs {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

/* Dashboard */
.main-content {
    padding: 4rem;
    padding-left: 30rem;
}

.upload-info-div {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.upload-file-box {
    border: 2px dashed #393939;
    padding: 9.6rem 2.4rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-icon-box,
.upload-info1,
.upload-info2 {
    text-align: center;
    font-size: 1.6rem;

    margin-bottom: 2px;
}

.upload-icon-box {
    margin-bottom: 2.4rem;
}

.upload-icon {
    width: 12rem;
    height: 12rem;
    color: #777;
    visibility: visible;
}

.upload-info2 {
    font-weight: 600;
}

.upload-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin-top: 4.8rem;
}

.upload-file-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #333;
    visibility: visible;
}

.upload-info p {
    font-size: 1.6rem;
}

.upload-progress {
    font-size: 3.2rem;
    color: #777;
    text-align: center;
    margin-top: 2.4rem;
}

/* File Table */
.file-table {
    border: 1px solid #ddd;
    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
}

.file-table tr,
.file-table th,
.file-table td {
    border: 1px solid #ddd;
}

.file-table th,
.file-table td {
    padding: 1rem;
}

.preview-file-table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-radius: 0.8rem;
}

.preview-file-table tr,
.preview-file-table th,
.preview-file-table td {
    border: 1px solid #ddd;
}

.preview-file-table th,
.preview-file-table td {
    padding: 1rem;
}

/* Change File */
.files-select-title {
    margin-bottom: 2.4rem;
}

.files-select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
}

.file-select {
    text-align: center;
    cursor: pointer;
    padding: 2.4rem 0;
    border-radius: 0.8rem;

    transition: all 0.4s;
}

.file-select:hover {
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
}

.file-select-img {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 1.2rem;
}

.files-search-footer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.files-search-footer input {
    flex: 1;
    width: 100%;
    border: 1px solid #2f07a2;
    font-family: inherit;
    padding: 1.2rem 2.4rem;
    border-radius: 5px;
    font-size: 1.4rem;
    outline: none;
}

.files-search {
    width: 100%;
    padding: 2.4rem 0;
}

.files-search input {
    flex: 1;
    width: 100%;
    border: 1px solid #2f07a2;
    font-family: inherit;
    padding: 1.2rem 2.4rem;
    border-radius: 5px;
    font-size: 1.8rem;
    outline: none;
}

/* Files Preview */
.files-preview {
    display: flex;
    gap: 4.8rem;
}

.file {
    flex: 1;
    min-width: 0;
}

.file-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;

    margin-bottom: 2.4rem;
}

.file-name {
    font-size: 1.8rem;
}

.file-action-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.change-file-btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border: none;
    background-color: #2f07a2;
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.file-preview-box {
    padding: 0 1px;
    overflow-x: scroll;

    position: relative;
}

.file-preview-box-container {
    position: relative;
}

.file-add-remove {
    border: none;
    padding: 1.2rem;
    background-color: #2f07a2;
    color: #fff;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 999;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.file-add-remove--variant {
    background-color: rgb(230, 109, 109);
}

.file-add-remove-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #fff;
    visibility: visible;
}

.file-preview-box::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.file-preview-box::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
.file-preview-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
.file-preview-box::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
.file-preview-box::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.files-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;

    margin: 3.6rem 0;
}

.file-action {
    padding: 3.2rem 2.4rem;
    font-size: 1rem;
    background-color: #dacefd;
    border: 1px solid #845cf7;
    cursor: pointer;
    font-size: 1.2rem;
    color: #0b0b0b;
    font-weight: 600;
}

/* .file-action:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.file-action:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
} */

.file-action-icon-text {
    text-align: center;
    margin-bottom: 2.4rem;
}

.file-action-icon {
    width: 6rem;
    height: 6rem;
    color: #0b0b0b;
}

.operation {
    width: 80%;
    margin: auto;
}

.operation-title {
    font-size: 2.8rem;
}

.operation-text {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-group label {
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.form-input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.2rem;
    border-radius: 5px;
    font-family: inherit;
    outline: none;
    border: 1px solid #845cf7;
}

.operation-action {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border: none;
    background-color: #2f07a2;
    color: #fff;
    font-family: inherit;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.2rem;
}

/*Reusable component*/
.container {
    max-width: 120rem;
    margin: auto;
    padding: 0 4.8rem;
}

/*Header section*/
.header {
    padding: 2.4rem 4.8rem;
    background-color: #dacefd;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-content {
    max-width: 130rem;
    margin: auto;

    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.brand {
    flex: 1;
}

.navbar {
    flex: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.8rem;
}

.navbar-nav {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 2.8rem;
}

.navbar-link:link,
.navbar-link:visited {
    text-decoration: none;
    color: #393939;
    font-size: 1.8rem;
}

.navbar-link:hover,
.navbar-link:active {
    color: blue;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.login:link,
.login:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    color: #180451;
    border: 1px solid #180451;
    border-radius: 0.8rem;
    font-size: 1.8rem;

    transition: all 0.3s;
}

.login:hover,
.login:active {
    background-color: #180451;
    color: #fff;
}

.signup:link,
.signup:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    background-color: #180451;
    color: #fff;
    border-radius: 0.8rem;
    font-size: 1.8rem;
}

.navbar-btn {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.navbar-btn-icon {
    visibility: visible;
    width: 2.8rem;
    height: 2.8rem;
}

.navbar-btn-icon:first-child {
    display: inline-block;
}

.navbar-btn-icon:last-child {
    display: none;
}

.navbar-open .navbar-btn-icon:first-child {
    display: none;
}

.navbar-open .navbar-btn-icon:last-child {
    display: inline-block;
}

/*Hero Content*/
.hero-section {
    background-color: #f6f6f6;

    height: 100vh;

    display: flex;
    align-items: center;
}

.hero-container {
    display: grid;
    grid-template-columns: 50fr 50fr;
}

.hero-title {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 2.4rem;
}

.hero-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 3.6rem;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    background-color: #180451;
    color: #fff;
    border-radius: 0.8rem;
    font-size: 1.8rem;
}

.hero-img-box {
    text-align: center;
}

.hero-img {
    width: 80%;
}

/*Features section*/
.features-section {
    padding: 9.6rem 0;
}

.features-title {
    font-size: 3.6rem;
}

.features-subtitle {
    font-size: 1.8rem;
}

.features-header {
    text-align: center;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    padding: 4.8rem 0;
}

.features-list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.features-list li {
    font-size: 2rem;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.features-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-img {
    width: 100%;
}

/*About section*/
.about-breadcrumb {
    width: 100%;
    height: 60vh;

    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-breadcrumb h2 {
    font-size: 3.6rem;
    color: rgba(59, 9, 202, 1);
    padding-top: 4.8rem;
}

.about-info-grid {
    padding: 9.6rem 0;
}

.about-info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;
}

.about-info {
    border: 1px solid rgba(59, 9, 202, 1);
    border-radius: 1rem;
    padding: 2.4rem;
}

.about-info-title {
    font-size: 2.4rem;
    color: rgba(59, 9, 202, 1);
    margin-bottom: 2.4rem;
}

.about-info-text {
    font-size: 1.6rem;
    line-height: 1.5;
}

.team-section {
    padding-bottom: 9.6rem;
}

.team-title {
    font-size: 3.6rem;
    text-align: center;
}

.team-subtitle {
    font-size: 1.8rem;
    text-align: center;
}

.team-grid {
    margin-top: 4.8rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.8rem;
}

.team-member {
    cursor: pointer;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.07);

    position: relative;
}

.team-member-img {
    width: 100%;
    height: 20rem;

    transition: all 0.3s;
}

.team-member:hover .team-member-img {
    transform: scale(110%);
}

.team-member-info {
    padding: 1.2rem;
    opacity: 0;

    transition: all 0.3s;

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.884);
}

.team-member:hover .team-member-info {
    opacity: 1;
}

.team-member-name,
.team-member-track {
    text-align: center;
}

.team-member-name {
    font-size: 1.6rem;
    font-weight: 500;
}

.team-member-track {
    font-size: 1.4rem;
}

/*Contact Section*/
.contact-section {
    padding: 17rem 0 12.8rem;
}

.contact-container {
    max-width: 60rem;
    margin: auto;
    padding: 0 4.8rem;
}

.contact-title {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
    text-align: center;
}

.contact-text {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.contact-form {
    display: block;
    margin-top: 2.4rem;
}

.contact-form-group {
    margin-bottom: 2rem;
}

.contact-form-label {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    display: inline-block;
}

.contact-form-input {
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    padding: 1.2rem;
    border-radius: 0.8rem;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
}

.contact-btn {
    display: block;
    width: 100%;
    padding: 1.6rem 0;
    font-weight: 500;
    font-size: 1.6rem;
    border: none;
    color: #ffff;
    background-color: #24067a;
    font-family: inherit;
    border-radius: 0.8rem;
}

/*FAQs Section*/
.faq-section {
    padding: 17rem 0 12.8rem;
}

.faq-container {
    max-width: 70rem;
    margin: auto;
    padding: 0 4.8rem;
}

.faq-title {
    font-size: 3.6rem;
    margin-bottom: 5px;
    text-align: center;
}

.faq-subtitle {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    text-align: center;

    margin-bottom: 3.6rem;
}

.accordion {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.item {
    padding: 24px;
    border: 1px solid #24067a;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2.4rem;
    align-content: center;
}

.item-active {
    background-color: #dacefd;
}

.number,
.text {
    font-size: 1.8rem;
    font-weight: 500;
}

.number {
    color: #180451;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-active .number,
.item-active .text {
    color: #180451;
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
    stroke: #087f5b;
    visibility: visible;
}

.icon--open {
    display: inline;
}

.item-active .icon--open {
    display: none;
}

.icon--close {
    display: none;
}

.item-active .icon--close {
    display: inline;
}

.hidden-box {
    grid-row: 2;
    grid-column: 2;
    display: none;

    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 2.4rem;
}

.item-active .hidden-box {
    display: block;
}

.hidden-box p {
    line-height: 1.6;
    margin-bottom: 24px;
}

.hidden-box ul {
    color: #868e96;
    margin-left: 18px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

/*Product Section*/
.product-section {
    padding: 17rem 0 12.8rem;
}

.product-header {
    text-align: center;
}

.product-header h2 {
    font-size: 3.6rem;
    margin-bottom: 5px;
    color: rgba(59, 9, 202, 1);
}

.product-header p {
    font-size: 1.8rem;
}

.product-body {
    margin-top: 3.6rem;
}

.product-body h2 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    color: rgba(59, 9, 202, 1);
}

.product {
    width: 100%;
}

.product-feature {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.product-info,
.product-icon-box {
    padding: 2.4rem;
}

.product-info {
    flex: 1;

    font-size: 1.6rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.product-icon {
    visibility: visible;
    width: 3.6rem;
    height: 3.6rem;
}

.product-feature:nth-child(odd) .product-info,
.product-feature:nth-child(odd) .product-icon-box {
    background-color: #eee;
}

/*Features section*/
.features2-section {
    padding-bottom: 9.6rem;
}

.features2-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;
}

.feature {
    cursor: pointer;
    padding: 2.4rem 1.2rem;
    text-align: center;

    transition: all 0.2s;
}

.feature:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.07);
}

.feature-icon-box {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #c2aefb;

    margin-bottom: 2.4rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.feature-icon {
    width: 2.4rem;
    height: 2.4rem;
    visibility: visible;
}

.feature-title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.feature-text {
    font-size: 1.6rem;
    line-height: 1.5;
}

/*Video Section*/
.video-section {
    padding: 9.6rem 0;
    background-color: rgba(36, 5, 122, 0.2);
}

.video-title {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 3.6rem;
}

.video {
    width: 100%;
    border-radius: 1.6rem;
}

/*Testimonial Section*/
.testimonial-section {
    padding: 9.6rem 0;
    background-color: #fff;
}

.testimonial-container {
    position: relative;
}

.testimonial-icon {
    width: 3.2rem;
    height: 3.2rem;
}

.testimonial-icon--left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.testimonial-icon--right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.testimonial-title {
    font-size: 3.6rem;
    text-align: center;
    color: #24067a;
    margin-bottom: 2.4rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 3.6rem;
}

.testimonial-footer {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: flex-end;
}

.testimonial-footer-icon {
    visibility: visible;
    width: 2.4rem;
    height: 2.4rem;
}

.testimonial-person {
    font-size: 1.6rem;
}

/*Newsletter Section*/
.newsletter-section {
    padding: 9.6rem 0;
    background-color: rgba(36, 5, 122, 0.2);
}

.newsletter-title {
    font-size: 3.6rem;
    font-weight: 600;
    color: #3b09ca;
    text-align: center;
    margin-bottom: 2.4rem;
}

.newsletter-form {
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 1rem;

    display: flex;
    gap: 1.2rem;
}

.newsletter-form input {
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-family: inherit;
    padding: 1.2rem;

    flex: 1;
}

.newsletter-form button {
    background-color: #24067a;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-family: inherit;
}

/*Footer Section*/
.footer {
    padding: 9.6rem 0;
    background-color: #c2aefb;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.footer-container div {
    text-align: center;
}

.footer-logo {
    margin-bottom: 2.4rem;
}

.footer-text {
    font-size: 1.6rem;
    line-height: 1.5;
}

.footer-title {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.footer-links {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-link:link,
.footer-link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: #180451;
}

.footer-btn:link,
.footer-btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    background-color: #180451;
    color: #fff;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

/*Dashboard section*/
.dashboard-container {
    display: grid;
    grid-template-columns: 15fr 85fr;

    overflow: hidden;
}

.dashboard-sidenav {
    /* width: 15%; */
    height: 100vh;
    background-color: #845cf7;

    /* position: fixed; */
    position: relative;
}

.sidenav-logo {
    padding: 2.4rem;
    text-align: center;

    margin-bottom: 5rem;
}

.dashboard-menu {
    list-style: none;

    display: flex;
    flex-direction: column;
}

.dashboard-menu-footer {
    padding-bottom: 2.4rem;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.dashboard-menu-item {
    padding: 1.2rem 2.4rem;
    cursor: pointer;

    transition: all 0.3s;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.dashboard-menu-item:hover,
.dashboard-menu-item.active {
    background-image: linear-gradient(
        90deg,
        #e5e5e5 37.24%,
        rgba(229, 229, 229, 0.23) 100%
    );
}

.dashboard-menu-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #fff;
    visibility: visible;
}

.dashboard-menu-link:link,
.dashboard-menu-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
}

.dashboard-content {
    padding-top: 5.2rem;

    height: 100vh;
    overflow-y: scroll;

    /* grid-column: 2; */
    position: relative;
}

.dashboard-header {
    padding: 1.2rem 2.4rem;
    background-color: #eee;
    z-index: 99999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
}

.dashboard-header-logo {
    opacity: 0;
}

.dashboard-header-logo img {
    height: 3rem;
}

.dashboard-user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.dashboard-user-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.dashboard-user-name {
    font-size: 1.6rem;
}

.caret {
    width: 2.4rem;
    height: 2.4rem;
    visibility: visible;
}

.dashboard-footer {
    background-color: #a385f9;
    padding: 1.6rem;
    z-index: 99999;

    position: fixed;
    bottom: 0;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.6rem;

    opacity: 0;
    pointer-events: none;
}

.footer-menu-item {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-menu-item-icon-box {
    margin-bottom: 5px;
}

.footer-menu-item-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #fff;
    visibility: visible;
}

.footer-menu-item-active .footer-menu-item-icon-box {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -90%);
}

.footer-menu-item-active .footer-menu-item-icon-box-inner1 {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #a385f9;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu-item-active .footer-menu-item-icon-box-inner2 {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu-item-active .footer-menu-item-icon {
    color: #a385f9;
}

.dashboard-main {
    padding: 4.8rem;
}

.dashboard-breadcrumb {
    margin-bottom: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-breadcrumb-title {
    font-size: 3.2rem;
}

.dashboard-breadcrumb-text {
    font-size: 1.6rem;
}

.dashboard-breadcrumb-link:link,
.dashboard-breadcrumb-link:visited {
    display: inline-flex;
    gap: 1.2rem;
    align-items: center;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    background-color: #2f07a2;
    color: #fff;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

.dashboard-overview {
    margin-bottom: 4.8rem;
}

.dashboard-overview-title {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

.dashboard-overview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.8rem;
    row-gap: 2.4rem;
}

.dashboard-overview-instance {
    padding: 3.2rem;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.dashboard-overview-instance p {
    flex: 1;
    font-size: 1.6rem;
}

.recent-files-title {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

.recent-files-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.8rem;
}

.recent-file {
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
    border-radius: 8px;

    overflow: hidden;
}

.recent-file iframe {
    border: none;
    border-bottom: 1px solid #ddd;

    width: 100%;
    height: 25rem;
}

.recent-file div {
    padding: 1.6rem 2.4rem;
}

.recent-file-name {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.recent-file-date {
    font-size: 1.6rem;
}

/*Files page*/
.files-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    color: #2f07a2;

    margin-bottom: 3.6rem;
}

.files-list-header-left {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.files-list-header-right {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.6rem;
}

.files-list-actions {
    padding: 3.6rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.files-list-action {
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    gap: 1.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

.files-list-action:hover {
    background-color: #eee;
}

.files-list-action-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #393939;
    visibility: visible;
}

.files-list-change-view {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.change-files-view-icon {
    cursor: pointer;
    visibility: visible;
    color: #393939;
}

.color--active {
    color: #2f07a2 !important;
}

.files-list-list {
    width: 100%;
    font-size: 1.8rem;
    border-collapse: collapse;
}

.files-list-list td {
    padding: 2.4rem 0;
}

.files-list-list th {
    text-align: left;
    padding: 1.2rem 0;
}

.file-list-item {
    cursor: pointer;
}

.file-list-item-active,
.file-list-item:hover {
    background-color: #eeeeee;
}

.file-cell {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    overflow: hidden;
}

.file-cell img {
    width: 3.6rem;
    height: 4.8rem;
}

.files-list-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4.8rem;
}

.file-grid-item {
    padding: 2.4rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.8rem;

    transition: all 0.3s;
}

.file-grid-item-active,
.file-grid-item:hover {
    background-color: #eeeeee;
}

.files-pagination {
    padding: 3.6rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.files-pagination button {
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    gap: 1.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: inherit;
}

.files-pagination button:hover {
    background-color: #2f07a2;
    color: #fff;
}

.files-pagination button.files-pagination-active {
    background-color: #2f07a2;
    color: #fff;
}

@media (max-width: 1400px) {
    .files-list-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1300px) {
    .navbar {
        flex: 3;
    }

    /*Dashboard*/
    .dashboard-container {
        grid-template-columns: 20fr 80fr;
    }

    .dashboard-header {
        width: 80%;
    }

    .recent-file iframe {
        height: 20rem;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 100rem;
    }

    /*Dashboard*/
    .files-list-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .dashboard-overview-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-files-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-file:last-child {
        display: none;
    }

    .files-select {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1150px) {
    .navbar-btn {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;

        background-color: rgba(255, 255, 255, 0.904);
        opacity: 0;
        pointer-events: none;

        transition: all 0.4s;

        flex-direction: column;
        justify-content: center;
    }

    .navbar-open .navbar {
        opacity: 1;
        pointer-events: all;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-link:link,
    .navbar-link:visited {
        font-size: 2.8rem;
    }

    .login:link,
    .login:visited,
    .signup:link,
    .signup:visited {
        font-size: 2.8rem;
    }

    .header {
        justify-content: space-between;
    }

    /*Dashboard*/
    .files-preview {
        flex-direction: column;
    }

    .file-type,
    .file-size {
        display: none;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 55%;
    }

    .hero-container {
        grid-template-columns: 1fr;
    }

    .hero-content {
        text-align: center;
        margin-bottom: 6.2rem;
    }

    .hero-img {
        width: 70%;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .features-container {
        width: 60%;
    }

    .features-img-box {
        display: none;
    }
}

@media (max-width: 930px) {
    .modal--files-select {
        width: 60% !important;
    }
}

@media (max-width: 910px) {
    .modal {
        width: 40%;
    }

    /*Dashboard*/
    .dashboard-container {
        grid-template-columns: 25fr 75fr;
    }

    .dashboard-header {
        width: 75%;
    }
}

@media (max-width: 900px) {
    .testimonial-container {
        margin: 0 4.8rem;
    }
    .footer-container {
        width: 60%;
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
    }
}

@media (max-width: 860px) {
    /*Dashboard*/
    .files-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .file-last-modified {
        display: none;
    }
}

@media (max-width: 800px) {
    /*Dashboard*/
    .auth-container {
        grid-template-columns: 1fr;
    }

    .auth-left {
        display: none;
    }

    .auth-logo {
        display: block;
    }

    .dashboard-overview-container {
        grid-template-columns: 1fr;
    }

    .recent-files-container {
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
    }

    .recent-file:last-child {
        display: block;
    }
}

@media (max-width: 730px) {
    .modal {
        width: 60%;
    }

    /*Dashboard*/
    .files-list-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .dashboard-container {
        grid-template-columns: 1fr;
    }

    .dashboard-sidenav {
        display: none;
    }

    .dashboard-header-logo {
        opacity: 1;
    }

    .dashboard-content {
        padding-bottom: 12.8rem;
    }

    .dashboard-footer {
        opacity: 1;
        pointer-events: all;
    }

    .dashboard-header {
        width: 100%;
    }

    .dashboard-overview-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-files-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-file:last-child {
        display: none;
    }

    .file-last-modified {
        display: table-cell;
    }

    .modal--files-select {
        width: 70% !important;
    }
}

@media (max-width: 630px) {
    /*Dashboard*/
    .files-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .file-last-modified {
        display: none;
    }
}

@media (max-width: 600px) {
    .modal {
        width: 55%;
        top: 17%;
    }

    /*Dashboard*/
    .dashboard-overview-container {
        grid-template-columns: 1fr;
    }

    .recent-files-container {
        grid-template-columns: 1fr;
    }

    .recent-file:last-child {
        display: block;
    }

    .modal--files-select {
        width: 80% !important;
    }
}

@media (max-width: 530px) {
    .operation {
        width: 100%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 50%;
    }
    .hero-title {
        font-size: 3.6rem;
        margin-top: 2.4rem;
    }
    .features-container {
        width: 100%;
    }
    .testimonial-title {
        font-size: 2.8rem;
    }
    .footer-container {
        width: 80%;
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
    }

    .modal {
        width: 80%;
    }

    /*Dashboard*/
    .auth-content {
        width: 90%;
    }

    .auth-form {
        width: 90%;
    }

    .dashboard-breadcrumb {
        flex-direction: column;
    }

    .dashboard-breadcrumb-left {
        text-align: center;
        margin-bottom: 2.4rem;
    }
}

@media (max-width: 460px) {
    /*Dashboard*/
    .files-select {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 420px) {
    /*Dashboard*/
    .files-list-grid {
        grid-template-columns: 1fr;
    }
}
