* {
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  color: #0E0E0E;
  background-color: #ffffff;
}
.div_one {
  width: 100%;
  margin: 4% 0;
  /* background-color: wheat; */
}
.first_div {
  width: 86%;
  margin: auto;
  padding-top: 3%;
  background-color: #EEEEEE;
}
.first_div h2 {
  font-size: 35px;
  text-align: center;
  color: #3B09CA;
}
.first_div p {
  font-size: 19px;
  text-align: start;
  margin: 10px 0;
}
.li {
  padding-left: 15px;
}
.first_div .img1 {
  width: 80%;
  height: 600px;
  margin: 15px auto;
  /* background-color: aqua; */
}
.first_div .img1 img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.small_imgs {
  /* width: 50%; */
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 2% auto;
}
.small_imgs img {
  height: 105px;
  width: 184px;
  object-fit: cover;
  margin: 0 10px;
  background-color: cadetblue;
}
/* .img_hover:hover {
  box-shadow: 10px  5px ;
} */
@media (min-width: 834px) {
  .first_div h2 {
    font-size: 20px;
  }
  .first_div p {
    font-size: 16px;
    /* margin: 10px 0; */
  }
  .first_div .img1 {
    /* width: 80%; */
    height: 201px;
    margin: 15px auto;
  }
  .first_div .img1 img {
    height: 201px;
  } 
  .small_imgs { 
    width: 50%;
    /* justify-content: */
    /* center; */
    /* display: flex; */
    /* flex-direction: row; */
    margin: 2% auto;
  }
  .small_imgs img {
    height: 45px;
    width: 84px;
    /* object-fit: cover; */
    /* margin: 0 10px; */
  } 
  .img_hover:hover {
    box-shadow: 10px  10px;
    
  }

}

@media (max-width: 375px) {
body {
  width: 100%;
}
  .div_one {
    width: 100%;
    margin: 5% 0;
  }
  .first_div {
    width: 83%;
    margin: auto;
    padding-top: 3%;
  }
  .first_div h2 {
    font-size: 14px;
    text-align: center;
  }
  .first_div p {
    font-size: 12px;
    text-align: start;
    margin: 10px 0;
  }
  /* .li { */
    /* padding-left: 8px; */
  /* } */
  .first_div .img1 {
    width: 80%;
    height: 154px;
    margin: 10px auto;
    
  }
  .li {
    padding-left: 10px;
    font-size: 12px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
  .first_div .img1 img {
    width: 100%;
    height: 154px;
  }
  .small_imgs { 
    width: 50%;
    margin: 2% auto;
    font-weight: 400;
  }
  .small_imgs img {
    height: 27px;
    width: 47px;
    margin: 0 5px;
  } 
}
